
.angular-google-map-container {
    height: 600px;
}

ui-gmap-google-map {
    /* position: fixed; */
    z-index: 35253532;
    /* right: 0; */
    /* bottom: 0; */
    /* top: 4em; */
    width: 100%;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
    color: white;
    font-family: Lato, serif;
}

.flashes {
    list-style-type: none;
    margin-left: 0;
}

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index:1000; */
}

@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.ajax-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 23;
    background: -moz-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a5295), color-stop(100%, #4a3a82));
    background: -webkit-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -o-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -ms-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: linear-gradient(to bottom, #4a5295 0%, #4a3a82 100%);
}

/* .col-md-6 {
  width: 49%;
  margin-top: 2em;
} */

.row {
    z-index: 10012;
}

.navbar-default {
    z-index: 23;
    background: -moz-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a5295), color-stop(100%, #4a3a82));
    background: -webkit-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -o-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: -ms-linear-gradient(top, #4a5295 0%, #4a3a82 100%);
    background: linear-gradient(to bottom, #4a5295 0%, #4a3a82 100%);
}

.navbar-default .navbar-brand {
    color: yellow;
    font-family: Lato, serif;
    text-shadow: -1px 0 #007bff, 0 1px #007bff, 1px 0 #007bff, 0 -1px #007bff;
}

.navbar-default .navbar-brand:hover {
    color:yellow;
}
.footer {
    color: white;
}

.navbar-default .navbar-link {
    color: yellow;
    font-family: lato, serif;
    text-shadow: -1px 0 #007bff, 0 1px #007bff, 1px 0 #007bff, 0 -1px #007bff;
}
.navbar-default .navbar-link:hover {
    color:yellow;
}
a:hover {
text-decoration: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none;
}

.footer span {
    color: yellow;
    font-family: lato, serif;
    text-shadow: -1px 0 #007bff, 0 1px #007bff, 1px 0 #007bff, 0 -1px #007bff;
}

